:root {
  --primary: #192841;
  --secondary: #223658;
  --tertiary: #273C56;
  --bright: #2B4254;
  --light: #F2F2F2;
  --dark: #192841;
  --background: #192841;
  --accent-1: #00B87B;
  --accent-2: #ffb300a4;
  --accent-3: #1E2F4D;
  --accent-4: #E0115F;
  --accent-5: #e0e0e0;
  --accent-6: #bdbdbd;
}


.cyan {
  background-color: #0dcaf0 !important
}

.blue {
  background-color: #0d6efd !important
}

.indigo {
  background-color: #6610f2 !important
}

.purple {
  background-color: #6f42c1 !important
}

.pink {
  background-color: #d63384 !important
}

.red {
  background-color: #dc3545 !important
}

.orange {
  background-color: #fd7e14 !important
}

.yellow {
  background-color: #ffc107 !important
}

.green {
  background-color: #00B87B !important
}

.teal {
  background-color: #20c997 !important
}

.gray {
  background-color: #999999 !important
}

.white {
  background-color: #eee;
}

.black {
  background-color: #333;
}

/* Reset some default browser styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary) !important;
  color: var(--accent-5) !important;
  min-height: 100vh !important;
  overflow-x: hidden !important;
  font-family: 'Source Sans Pro', sans-serif;
  ;
}

.text-justify {
  text-align: justify;
}

.bg-secondary {
  background-color: var(--secondary) !important;
  border-radius: 10px !important;
  border: #00B87B 2px solid !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.btn-dark {
  background-color: var(--accent-3) !important;
}

.btn-dark:hover,
.btn-dark:focus {
  background-color: var(--accent-2) !important;
}

.btn-secondary {
  background-color: var(--accent-3) !important;
  border-radius: 30px !important;
  position: relative;
  margin-top: 60px !important;
  margin-bottom: 20px !important;
}

/* Tooltip text */
.btn-secondary::after {
  content: attr(aria-label);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary);
  color: var(--accent-6);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show tooltip on hover */
.btn-secondary:hover::after {
  visibility: visible;
  opacity: 1;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--accent-2) !important;
}

.text-primary {
  --content: kenresoft;
  color: var(--accent-1) !important;
}

.mb-1 {
  color: var(--accent-1) !important;
}

.btn-dark {
  border-radius: 5px !important;
}

.gradient-text {
  --content: Sample Text Content;
  font-size: 36px;
  font-weight: bold;
  background-image: linear-gradient(to right, var(--accent-1), var(--accent-2));
  -webkit-background-clip: text;
  /* For Safari */
  background-clip: text;
  color: transparent;
}

.light-box {
  background: var(--accent-3);
  border: none !important;
  border-radius: 2px !important;
}

.brd {
  border: none !important;
  border-radius: 2px !important;
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 991.98px) {
  .sticky-lg-top.vh-100 {
    height: 100% !important;
  }
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-medium {
  font-weight: 500;
}

.btn-square {
  width: 40px;
  height: 40px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 50px;
  height: 50px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--accent-2) 1.5px solid;
}

.btn.btn-primary {
  color: #FFFFFF;
}

.typed-cursor {
  font-size: 25px;
  color: var(--light);
}

.back-to-top {
  position: fixed;
  display: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1;
  font-size: 30px;
  right: 30px;
  bottom: 30px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  color: var(--accent-2);
}

.back-to-top i:hover {
  color: var(--accent-1);
}

.back-to-top {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

.title {
  position: relative;
}

.title::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: 0;
  border: 2px solid var(--light);
  border-radius: 10px;
}

.title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 15px;
  border-radius: 2px;
  background: var(--light);
}

.progress {
  height: 5px;
}

.progress .progress-bar {
  width: 0px;
  transition: 2s;
}

.service-item {
  padding: 30px;
  text-align: center;
  background: var(--secondary);
  border-radius: 10px;
}

.service-item i {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light);
  color: var(--primary);
  border-radius: 15px;
  transition: .5s;
}

.service-item:hover i {
  background-image: linear-gradient(to bottom, var(--primary), var(--tertiary), var(--accent-3));
  color: var(--light);
}

.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  font-size: 90px;
  background: rgba(15, 15, 15, 0.9);
  opacity: 0;
  transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}

.portfolio-item i {
  opacity: 0;
  transition: .3s;
  transition-delay: .3s;
}

.portfolio-item:hover i {
  opacity: 1;
}

.testimonial-carousel .owl-dots {
  margin-top: 25px;
  text-align: center;
}

.testimonial-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: var(--light);
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
}

/*** NavBar ***/
.navbar {
  background: var(--accent-3) !important;
  border-top:3px solid var(--dark);
  border-bottom:3px solid var(--dark);
  position: relative;
  transition: .5s;
  z-index: 999;
}

.navbar .navbar-brand {
  color: var(--light);
  margin: 0;
  font-size: 35px;
  line-height: 0px;
  font-weight: 900;
  letter-spacing: 3.5px;
  transition: .5s;
}

.navbar .navbar-brand img {
  max-width: 100%;
  max-height: 40px;
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus {
  padding: 10px 10px 8px 10px;
  color: var(--accent-2);
  font-size: 15px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--accent-1);
}

.navbar-toggler {
  border: 0.5px solid transparent;
  box-shadow: var(--dark) 0 0 0 0.09rem;
}

.navbar-toggler:focus {
  border: 1.5px solid transparent;
  box-shadow: var(--accent-2) 0 0 0 .05rem
}

@media (min-width: 992px) {

  /* Desktop */
  .navbar {
    position: relative;
    width: 100%;
    padding: 30px 0px;
    background: var(--accent-3) !important;
    /* border-bottom: 1px dashed rgba(256, 256, 256, .2); */
    z-index: 9;
  }

  .navbar .navbar-brand {
    margin-right: 10vw !important
  }
}

@media (max-width: 991.98px) {

  /* Mobile */
  .navbar {
    padding: 15px 0;
    margin: 0;
  }

  .navbar .navbar-nav {
    margin-top: 10px;
    background: var(--primary);
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}